<footer class="page-footer font-small pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/jorzias-veras-62388b127" target="_blank"
                            class="icon-linkedin">
                            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                            <!-- <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> -->
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/josiasveras" target="_blank" class="icon-github">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        <span class="text-light">© 2022 Copyright:</span>
        <a class="text-light" target="_blank" href="https://github.com/josiasveras"> Freelando</a>
    </div>
</footer>
