/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: "Poppins", sans-serif;
    background: #11101d;
    margin-top: 20px;
    border-radius: 12px;
}