<div class="container">
    <div class="row">
        <div class="col-md-6 p-2 d-flex justify-content-start">
            <div class="d-flex justify-content-center">
                <i class="fa fa-home fa-2x text-white ml-3" aria-hidden="true"></i>
                <h3 id="titulo" class="text-white ml-2">Home</h3>
            </div>
        </div>
        <div class="col-md-6 p-2 d-flex justify-content-end">
            <h4 id="nome" class="text-white mr-3">Olá, Jorzias de Souza Veras</h4>
        </div>
    </div>
</div>

