<body class="bg-white">
  <section>
    <div class="container mt-4">

      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <h1 class="text-center" style="font-weight: 600;">Conheça sobre o projeto e a equipe</h1>
        </div>

        <div class="col-md-12 mt-4">
          <h2 class="text-center">Vídeo Institucional</h2>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sxLjCojx9l8"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
        </div>
      </div>

      <br><br><br>

      <div class="row d-flex justify-content-center mt-4">
        <div class="col-md-12">
          <h2 class="text-center">Conheça nossa equipe</h2>
        </div>
      </div>

      <div class="content">

        <!-- Card Thayrine -->
        <div class="card mr-2">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/img/thayrine-profile-photo.jpg" alt="Imagem de perfil">
            </div>

            <div class="media-icons">
              <a href="https://github.com/thayrinerenata" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/thayrinesantos" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>

            <div class="name-profession">
              <span class="name">Thayrine Santos</span>
              <span class="profession">Web Developer</span>
            </div>

            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <!-- <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i> -->
            </div>

            <div class="button">
              <a href="https://youtu.be/PQn_5YKr8s8" target="_blank">
                <button class="about-me">Sobre mim</button>
              </a>
              <a href="https://www.canva.com/design/DAE7Jv7qyjk/35-xJqgzpk6jjsSVPVxxvA/view?utm_content=DAE7Jv7qyjk&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton
              " target="_blank">
                <button class="hire-me">Me contrate</button>
              </a>
            </div>
          </div>
        </div>
        <!-- Card Thayrine -->

        <!-- Card Gabriella -->
        <div class="card mr-2">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/img/gabriella-profile-photo.jpg" alt="Imagem de perfil">
            </div>

            <div class="media-icons">
              <a href="https://github.com/josiasveras" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/jorzias-veras-62388b127" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>

            <div class="name-profession">
              <span class="name">Gabriella Alcantâra</span>
              <span class="profession">Web Developer</span>
            </div>

            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <!-- <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i> -->
            </div>

            <div class="button">
              <a href="https://youtu.be/QJmCdA-lyOk" target="_blank">
                <button class="about-me">Sobre mim</button>
              </a>
              <a href="https://www.canva.com/design/DAE4chaEhS8/GWVahBOIbI8yy_-2Pm5o4Q/view?utm_content=DAE4chaEhS8&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton"
                target="_blank">
                <button class="hire-me">Me contrate</button>
              </a>
            </div>
          </div>
        </div>
        <!-- Card Gabriella -->

        <!-- Card Jorzias -->
        <div class="card mr-2">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/img/jorzias-profile-photo.jpeg" alt="Imagem de perfil">
            </div>

            <div class="media-icons">
              <a href="https://github.com/josiasveras" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/jorzias-veras" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>

            <div class="name-profession">
              <span class="name">Jorzias Veras</span>
              <span class="profession">Web Developer</span>
            </div>

            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <!-- <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i> -->
            </div>

            <div class="button">
              <a href="https://youtu.be/QJmCdA-lyOk" target="_blank">
                <button class="about-me">Sobre mim</button>
              </a>
              <a href="https://www.canva.com/design/DAE4chaEhS8/GWVahBOIbI8yy_-2Pm5o4Q/view?utm_content=DAE4chaEhS8&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton"
                target="_blank">
                <button class="hire-me">Me contrate</button>
              </a>
            </div>
          </div>
        </div>
        <!-- Card Jorzias -->

        <!-- Card Matheus -->
        <div class="card mr-2">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/img/matheus-profile-photo.jpg" alt="Imagem de perfil">
            </div>

            <div class="media-icons">
              <a href="https://github.com/Matheus-Anjos" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/matheusanjoslink" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>

            <div class="name-profession">
              <span class="name">Matheus Anjos</span>
              <span class="profession">Web Developer</span>
            </div>

            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <!-- <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i> -->
            </div>

            <div class="button">
              <a href="https://youtu.be/25IrdY_AgUA" target="_blank">
                <button class="about-me">Sobre mim</button>
              </a>
              <a href="https://www.canva.com/design/DAE7hkmuO9E/Xm4uo9xDMI4fYNrllmDdCw/view?utm_content=DAE7hkmuO9E&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="_blank">
                <button class="hire-me">Me contrate</button>
              </a>
            </div>
          </div>
        </div>
        <!-- Card Matheus -->

        <!-- Card Armando -->
        <div class="card mr-2">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/img/armando-profile-photo.jpg" alt="Imagem de perfil">
            </div>

            <div class="media-icons">
              <a href="https://github.com/ArmandoD3v" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/armando-marins/" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </div>

            <div class="name-profession">
              <span class="name">Armando Marins</span>
              <span class="profession">Web Developer</span>
            </div>

            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <!-- <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i> -->
            </div>

            <div class="button">
              <a href="https://www.youtube.com/watch?v=hyXSeQmyrnc&t=1s" target="_blank">
                <button class="about-me">Sobre mim</button>
              </a>
              <a href="https://www.canva.com/design/DAE7KbWC8Wc/8nNthSRTfhTJvZ5kSFNXnA/view?utm_content=DAE7KbWC8Wc&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton
                            " target="_blank">
                <button class="hire-me">Me contrate</button>
              </a>
            </div>
          </div>
        </div>
        <!-- Card Armando -->

      </div>
    </div>
  </section>
</body>
