<!-- <app-barra-topo *ngIf='auth.logado()'></app-barra-topo> -->
<!-- <app-menu *ngIf='auth.logado()'></app-menu> -->

<!-- <app-menu></app-menu> -->
<!-- <router-outlet class="home-content"></router-outlet> -->

<!-- <app-rodape *ngIf='auth.logado()'></app-rodape> -->
<!-- <app-entrar></app-entrar> -->

<!-- Código adaptação do posicionamento do conteudo ao expandir menu -->
<div class="container-fluid">
    <!-- <app-menu *ngIf='auth.logado()'></app-menu> -->
    <ng-container *ngIf="auth.logado()">
        <div class="sidebar">
            <div class="logo-content">
              <div class="logo">
                <i class="fa fa-paw" aria-hidden="true"></i>
                <div class="logo-name">Freelando</div>
              </div>
              <i class="fa fa-bars" aria-hidden="true" id="btn" (click)="menuCollapse()"></i>
            </div>
            <ul class="nav-list">
              <li>
                <i class="fa fa-search" aria-hidden="true" (click)="menuCollapse()"></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
              </li>
              <li>
                <a href="#" routerLink="/inicio">
                  <!-- <i class="fa fa-th-large" aria-hidden="true"></i> -->
                  <i class="fa fa-home" aria-hidden="true"></i>
                  <span class="links-name">Home</span>
                </a>
                <span class="tooltip">Home</span>
              </li>
              <li>
                <a href="#" routerLink="/sobre">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span class="links-name">Sobre</span>
                </a>
                <span class="tooltip">Sobre</span>
              </li>
              <li>
                <a href="#" routerLink="/inicio">
                  <i class="fa fa-comments" aria-hidden="true"></i>
                  <span class="links-name">Chat</span>
                </a>
                <span class="tooltip">Chat</span>
              </li>
              <!-- <li>
                <a href="#">
                  <i class="fa fa-pie-chart" aria-hidden="true"></i>
                  <span class="links-name">Analytics</span>
                </a>
                <span class="tooltip">Analytics</span>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-folder-o" aria-hidden="true"></i>
                  <span class="links-name">File Manager</span>
                </a>
                <span class="tooltip">File</span>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  <span class="links-name">Order</span>
                </a>
                <span class="tooltip">Order</span>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                  <span class="links-name">Saved</span>
                </a>
                <span class="tooltip">Saved</span>
              </li> -->
              <li>
                <a href="#" routerLink="/inicio">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                  <span class="links-name">Configurações</span>
                </a>
                <span class="tooltip">Configurações</span>
              </li>
            </ul>
            <div class="profile-content">
              <div class="profile">
                <div class="profile-details">
                  <img src="https://i.imgur.com/rNUV85x.png" alt="Imagem do usuário">
                  <div class="name-job">
                    <div class="name">Usuário</div>
                    <div class="job">Profissão</div>
                  </div>
                </div>
                <i class="fa fa-sign-out" aria-hidden="true" id="log-out" (click)="sair()"></i>
              </div>
            </div>
          </div>
    </ng-container>
    <!-- <app-menu class="sidebar"></app-menu> -->
    <div class="home-content">
        <router-outlet></router-outlet>
        <app-rodape *ngIf='auth.logado()'></app-rodape>
    </div>
</div>
<!-- Código adaptação do posicionamento do conteudo ao expandir menu -->