/* You can add global styles to this file, and also import other style files */
/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.fs-54 {
  font-size: 54pt;
}

.fs-18 {
  font-size: 18pt;
}

.fs-12 {
  font-size : 12pt;
}

.sidebar{
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.active{
  width: 240px;
}

.sidebar .logo-content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .logo-content .logo{
  opacity: 1;
  pointer-events: none;
}

.logo-content .logo i{
  font-size: 28px;
  margin-right: 5px;
}

.logo-content .logo .logo-name{
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn{
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn{
  left: 90%;
  /* left: 250%; */
}

.sidebar ul{
  margin-top: 20px;
}

.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li .tooltip{
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip{
  display: none;
}

.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar ul li .fa-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}

.sidebar ul li .fa-search:hover{
  background: #fff;
  color: #1d1b31;
}

.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;
}

.sidebar ul li i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links-name{
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links-name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar .profile-content{
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile-content .profile{
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  transition: all 0.4s ease;
}

.sidebar.active .profile-content .profile{
  background: #1d1b31;
}

.profile-content .profile .profile-details{
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar.active .profile .profile-details{
  opacity: 1;
  pointer-events: auto;
}

.profile .profile-details img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile-details .name-job{
  margin-left: 15px;
}

.profile .profile-details .name{
  font-size: 15px;
  font-weight: 400;
}

.profile .profile-details .job{
  font-size: 12px;
}

.profile #log-out{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #1d1b31;
}

.sidebar.active .profile #log-out{
  left: 88%;
  background: none;
}

/* Código adaptação do posicionamento do conteudo ao expandir menu */
.home-content{
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-content{
  width: calc(100% - 240px);
  left: 240px;
}




